<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net461" />
  <package id="Microsoft.TeamFoundation.TestManagement" version="12.0.0.1" targetFramework="net461" />
  <package id="RDATFSPackage" version="1.0.0" targetFramework="net461" />
  <package id="skeyMicrosoftTeamFoundationWorkItemTrackingClient" version="1.0.0" targetFramework="net461" />
  <package id="TeamFoundationTestFull" version="1.0.4" targetFramework="net461" />
</packages>